.header {
    margin-bottom: 32px;
}

.header a{
    color: #9A9A9A;
    font-weight: 900;
    text-decoration: none;
}

.header .container {
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-between;
}

.header .container .left {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 18px;
}

.header .separ {
    width: 2px;
    height: 34px;
    background-color: #E9E9E9;
    margin-right: 40px;
}

.header .alter-page {
    display: flex;
    margin-right: 40px;
    width: 197px;
    justify-content: space-between;
}

.header .alter-page a {
    display: flex;
    align-items: center;
    display: block;
    height: 69px;
    line-height: 69px;

}

.header .alter-page a.active {
    color: #ED4E51;
}

.header .alter-page span {
    width: 24px;
    height: 24px;
    display:inline-block;
    position: relative;
    top: 7px;
    margin-left: 6px;
}

.header .alter-page .anime span {
    -webkit-mask-image: url("/img/icons/anime-icon.svg");
    mask-image: url("/img/icons/anime-icon.svg");
    background-color: #9A9A9A;
}

.header .alter-page .anime.active span {
    background-color: #ED4E51;
}

.header .alter-page .manga span {
    -webkit-mask-image: url("/img/icons/manga-icon.svg");
    mask-image: url("/img/icons/manga-icon.svg");
    background-color: #9A9A9A;
}

.header .alter-page .manga.active span {
    background-color: #ED4E51;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.header .menu a {
    font-weight: 700;
    display: block;
    height: 69px;
    line-height: 69px;
}

.header .menu .btn.active {
    color: black;
    position: relative;
}

.header .menu .btn.active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 2px;
    background: #ED4E51;
}

.header .right {
    display: flex;
    align-items: center;
}

.header .right .search-btn {
    border: none;
    background: none;
    margin-right: 45px;
}

.header .right .profile {
    display: flex;
    align-items: center;
}

.header .right .profile button {
    font-family: 'Nunito';
    font-weight: 700;
    padding: 0;
    margin-right: 16px;
    color: #494949;
    background: none;
    border: none;
    font-size: 16px;
    line-height: 22px;
}

.header .pop-up {
    z-index: 20;
    display: none;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #494949;
}

.header .pop-up .form-background {
    background-color: white;
    border-radius: 30px;
    margin-top: 20vh;
    height: min-content;
    padding: 40px 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #494949;
}

.header .pop-up .login-type {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.header .pop-up .login-type button {
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 3px solid #494949;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.header .pop-up .login-type button.active {
    color: #ED4E51;
    border-color: #ED4E51;
}

.header .pop-up .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
}

.header .pop-up .form.login {
    display: none;
}

.header .pop-up .form button {
    margin-top: 10px;
    padding: 10px 0;
    background: none;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: 3px solid #494949;
    border-radius: 10px;
    color: #494949;
}

.header .pop-up .form button:hover {
    border-color: #ED4E51;
    color: #ED4E51;
}

.header .pop-up .form input {
    margin-bottom: 15px;
    font-family: 'Nunito';
    font-size: 20px;
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}

.header .exit-pop-up {
    z-index: 20;
    display: none;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #494949;
}

.header .exit-pop-up .background {
    background-color: white;
    border-radius: 30px;
    margin-top: 20vh;
    height: min-content;
    padding: 40px 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #494949;
}

.header .exit-pop-up button {
    margin-top: 10px;
    padding: 10px 20px;
    background: none;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: 3px solid #494949;
    border-radius: 10px;
    color: #494949;
}

.header .exit-pop-up button:hover {
    border-color: #ED4E51;
    color: #ED4E51;
}

.header .line {
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
}

