.title-top {
    margin-bottom: 111px;
    display: flex;
    justify-content: space-between;
}

.title-top .main-img {
    position: relative;
    width: 455px;
    height: 567px;
    margin-right: 43px;
}

.title-top .main-img .rates {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title-top .main-img .rates .userChoice {
    display: flex;
    align-items: center;
    background-color: rgba(49, 49, 49, 0.75);
    padding: 5px 16px 5px 8px;
    border-radius: 20px;
    margin-bottom: 8px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-left: 4px;
}

.title-top .info {
    width: 622px;
}

.title-top .info h1.section-header {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 12px;
}

.title-top .info .description {
    width: 550px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 23px;
    color: #878787;
}

.title-top .info .buttons {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.title-top .info .buttons .watch {
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 24px;
    padding-left: 71px;
    padding-right: 52px;
    background-color: #ED4E51;
    color: white;
    font-size: 16px;
    font-weight: 900;
    line-height: 46px;
    position: relative;
    margin-right: 24px;
}

.title-top .info .buttons .watch::before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(/img/turn-on-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 11px;
    left: 37px;
}

.title-top .info .buttons .like {
    background-color: #EEEEEE;
    border: none;
    width: 46px;
    height: 46px;
    border-radius: 23px;
}

.title-top .info h2.section-header {
    margin-bottom: 24px;
}

.title-top .info li {
    font-family: 'Nunito', sans-serif;
    line-height: 22px;
    margin-bottom: 9px;
    color: #878787;
}

.title-top .info .status {
    display: flex;
    align-items: center;
}

.title-top .info .status span {
    display: block;
    margin-left: 24px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    padding: 0 24px;
    border-radius: 20px;
}

.title-top .info .status.ended span {
    background-color: #9652C5;
}

.title-top .info .status.ongoing span {
    background-color: #FFC700;
}

.title-top .info .status.droped span {
    background-color: #8B00E9;
}

.title-top .info .status.planing span {
    background-color: #FD337F;
}